.home-wrapper {
  padding: 1rem;
  background-color: #ffffff;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.home-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  /* background: F5F5F5; */
  background: linear-gradient(to right, #4a90e2, #2ab27b);
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.dashboard-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  margin: 0 auto;
}

.dashboard-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #1f2d3d;
  font-size: 0.85rem;
  font-weight: 500;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.dashboard-item h3 {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

/* Standardized Colors */
.item-machines {
  background-color: #e0f2f1;
  color: #00796b;
}

.item-logs {
  background-color: #fff3e0;
  color: #ef6c00;
}

.item-good {
  background-color: #e8f5e9;
  color: #388e3c;
}

.item-bad {
  background-color: #ffebee;
  color: #c62828;
}
