.form-container-edit {
    padding: 1rem;
    background-color: #e8ecef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    /* margin-top: 20px; */
  }

  .edith2 {
    margin-top: 0;
  }
   
  .form-container-edit input,
  .form-container-edit textarea {
    display: block;
    margin: 1rem 0;
    padding: 0.6rem;
    width: 95%;
    font-size: 0.9rem;
  }

  .form-container-edit select {
    display: block;
    margin: 1rem 0;
    padding: 0.6rem;
    width: 100%;
    font-size: 0.9rem;
  }