.details-wrapper {
    padding: 1rem;
    background-color: #f8f9fc;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    overflow: auto; /* Enables vertical scrolling */
}

/* Make the table scrollable horizontally */
.details-table {
    width: max-content;

    min-width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    border-radius: 8px;
    overflow: auto;
    /*display: block;*/ /* Enables horizontal scroll */
}
    .details-table td:first-child {
        position: sticky;
        left: 0;
                background-color: #ffffff;  
        z-index: 2;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    }
    .details-table th:first-child {
        position: sticky;
        left: 0;
/*        background-color: #ffffff;  */
        z-index: 3;  
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05); /* Optional: subtle shadow */
    }


    /* Sticky header */

    .details-table thead th {
        position: sticky;
        top: 0;
/*        border-radius:2px;*/
        background-color: #4c4e50;
        color: white;
        z-index: 2;
    }
/*    .details-table {
        border-radius:8x;
    }*/
        .table-scroll-container {
            height: 500px;
            overflow-y: auto;
        }


    /* Table cells */
    .details-table th,
    .details-table td {
        padding: 12px 16px;
        text-align: center;
        border-bottom: 1px solid #e0e0e0;
        white-space: nowrap; /* Prevents text wrapping */
    }

    /* Hover effect */
    .details-table tr:hover {
        background-color: #f1f1f1;
    }

 
/*.status-good {
  color: #388e3c;
  font-weight: bold;
}
 
.status-alert {
  color: #ef6c00;
  font-weight: bold;
}
 
.status-critical {
  color: #c62828;
  font-weight: bold;
}
 */
 